set editing-mode vi

# shut up readline
set bell-style none
# colored completions
set colored-stats on

# misc - added 09/2017
set show-all-if-ambiguous  on
set expand-tilde on
set history-preserve-point on

# .vimrc equivalents
# http://vim.wikia.com/wiki/Use_vi_shortcuts_in_terminal
# full readline manual at http://linux.die.net/man/3/readline

### COMMAND MODE BINDINGS: ###
set keymap vi-command

# use = and \ as start_line/end_line
"=": beginning-of-line
"\\": end-of-line


### INSERT MODE BINDINGS: ###
set keymap vi-insert

"\e[A": history-search-backward
"\e[B": history-search-forward

# ctrl-g: abort command but add to history
# \e is ESC (to ensure I'm in command mode), then I to insert at beginning of
# line. space before history so the history cmd itself won't be added to history
# (since HISTCONTROL is ignorespace or ignoreboth, see .bashrc)
"\C-g": "\eI history -s \C-j"

$if Bash
Space: magic-space
$endif
